@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Yeon+Sung&display=swap');

@import "kokoa-clone-2022/reset.css"; 
@import "kokoa-clone-2022/variable.css";

/*Componants*/
@import "kokoa-clone-2022/componants/status-bar.css";
@import "kokoa-clone-2022/componants/nav-bar.css";
@import "kokoa-clone-2022/componants/screen-header.css";
@import "kokoa-clone-2022/componants/user-component.css";
@import "kokoa-clone-2022/componants/badge.css";
@import "kokoa-clone-2022/componants/find.css";
@import "kokoa-clone-2022/componants/more.css";
@import "kokoa-clone-2022/componants/icon-row.css";
@import "kokoa-clone-2022/componants/alt-screen-header.css";
@import "kokoa-clone-2022/componants/no-mobile.css";

/*Screens*/ 
@import "kokoa-clone-2022/screen/login.css";
@import "kokoa-clone-2022/screen/freinds.css";
@import "kokoa-clone-2022/screen/setting.css";
@import "kokoa-clone-2022/screen/chat.css";



body{
  font-family: 'Open Sans', sans-serif;
  color: #2e363e; 

} 

.main-screen{
  padding:20px var(--horizontal-space); 
}


